<div class="container">

<div class="logo text-left">
	<%= link_to "Virtual Herbarium", root_path %>
</div>

<div class="text-center header">
<h1>Aronia</h1>
<h3>8 Specimen Images</h3>
</div>


<div class="row" id="specimen-row">
	<%= render partial: 'specimen', locals: { img: "aronia1.thb.jpg",
																						 name: "Aronia melanocarpa",
																						 number: "31129",
																					 	 location: "Bailey" } %>
	<%= render partial: 'specimen', locals: { img: "aronia2.thb.jpg",
																						 name: "Aronia melanocarpa",
																						 number: "31130",
																					 	 location: "Bailey" } %>
	<%= render partial: 'specimen', locals: { img: "aronia3.thb.jpg",
																						 name: "Aronia floribunda",
																						 number: "33164",
																					 	 location: "Dudley" } %>
	<%= render partial: 'specimen', locals: { img: "aronia4.thb.jpg",
																						 name: "Aronia floribunda",
																						 number: "33165",
																					 	 location: "Dudley" } %>																				 	 
</div>

<div class="row" id="specimen-row">
	<%= render partial: 'specimen', locals: { img: "aronia3.thb.jpg",
																						 name: "Aronia floribunda",
																						 number: "33164",
																					 	 location: "Dudley" } %>
	<%= render partial: 'specimen', locals: { img: "aronia4.thb.jpg",
																						 name: "Aronia floribunda",
																						 number: "33165",
																					 	 location: "Dudley" } %>
	<%= render partial: 'specimen', locals: { img: "aronia1.thb.jpg",
																						 name: "Aronia melanocarpa",
																						 number: "31129",
																					 	 location: "Bailey" } %>
	<%= render partial: 'specimen', locals: { img: "aronia2.thb.jpg",
																						 name: "Aronia melanocarpa",
																						 number: "31130",
																					 	 location: "Bailey" } %>																					 	 


</div>


</div>